// SLATE
.vjs-volume-control.vjs-control.vjs-volume-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-js.skin_slate .vjs-control-bar .vjs-play-progress{
  background-color: currentColor;
}

.video-js.skin_slate .vjs-control-bar .vjs-volume-level{
  background-color: currentColor;
}

.video-js.skin_slate .vjs-volume-panel.vjs-control.vjs-volume-panel-horizontal:hover .vjs-volume-control.vjs-control.vjs-volume-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: width 0.1s;
}

.video-js.skin_slate .vjs-volume-panel.vjs-control.vjs-volume-panel-horizontal:active .vjs-volume-control.vjs-control.vjs-volume-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: width 0.1s;
}

.video-js.skin_slate .vjs-control-bar .vjs-progress-control.vjs-control {
  height: 0.7em;
  position: absolute;
  top: -0.7em;
  width: 100%;
}

.video-js.skin_slate .vjs-progress-holder.vjs-slider.vjs-slider-horizontal {
  height: 100%;
}

.video-js.skin_slate .vjs-play-progress:before {
  display: none !important;
}

.video-js.skin_slate .vjs-progress-control > .vjs-progress-holder.vjs-slider {
  margin: 0 !important;
}

.video-js.skin_slate .vjs-custom-control-spacer {
  display: block;
  flex: 1 1 auto;
}

.video-js.skin_slate .vjs-volume-panel.vjs-volume-panel-vertical {
  z-index: 1;
}

.video-js.skin_slate .vjs-control-bar {
  height: 40px;
}

.video-js.skin_slate .vjs-big-play-button .vjs-icon-placeholder:before,
.vjs-button > .vjs-icon-placeholder:before {
  position: relative !important;
}

.video-js.skin_slate .vjs-big-play-button .vjs-icon-placeholder:before {
  display: flex;
  left: 0px;
  top: -1px;
}

.vjs-button > .vjs-icon-placeholder:before {
  font-size: 2em !important;
}

.video-js.skin_slate .vjs-control {
  width: 4.3em;
}

.vjs-menu-button-popup .vjs-menu {
  bottom: 10px !important;
}

.video-js.skin_slate .vjs-control-bar .vjs-progress-control.vjs-control:hover {
  height: 1.3em;
  position: absolute;
  top: -1.3em;
  transition: height 0.3s, top 0.3s;
}

.video-js.skin_slate.vjs-live .vjs-time-control {
  display: none !important;
}

.video-js.skin_slate .vjs-time-control {
  display: block;
}

.video-js.skin_slate .vjs-remaining-time {
  display: none;
}

.video-js.skin_slate .vjs-remaining-time.vjs-time-control.vjs-control > span.vjs-remaining-time-display {
  line-height: 3.5em;
  font-size: 1.1em;
  min-width: 4em;
}

.video-js.skin_slate .vjs-time-divider > div {
  display: flex;
  justify-content: center;
}

.video-js.skin_slate .vjs-live-control {
  align-items: center;
}

.video-js.skin_slate .vjs-live-display {
  height: 2.2em;
  display: flex;
  align-items: center;
  font-family: monospace;
  width: 4em;
  justify-content: center;
  background: red;
  margin: 4px 0px 4px 12px;
}

.video-js.skin_slate .vjs-time-control {
  line-height: 3.5em !important;
  font-size: 1.1em !important;
  width: min-content !important;
  min-width: 1.5em;
  padding: 0 !important;
  user-select: none;
  font-weight: bold;
}

.video-js.skin_slate .vjs-current-time.vjs-time-control.vjs-control {
  margin-left: 14px !important;
  font-weight: bold;
}

/* Big play */
.video-js.skin_slate.vjs-paused .vjs-big-play-button {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 5em;
  line-height: 1.3em;
  transform: none !important;
  border-radius: 1.3em;
}

@media (max-width: 600px) {
  .video-js.skin_slate button.vjs-big-play-button {
    width: 50px !important;
    height: 50px !important;
    font-size: 2.1rem !important;
  }
}



//SPACED
.video-js.skin_spaced .vjs-button > .vjs-icon-placeholder:before {
  font-size: 2.2em;
  line-height: 2.6;
}

.video-js.skin_spaced .vjs-control-bar {
  z-index: 1 !important;
  height: 6em !important;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%) !important;
}

.video-js.skin_spaced .vjs-control-bar .vjs-play-progress{
  background-color: currentColor;
}
.video-js.skin_spaced .vjs-control-bar .vjs-volume-level{
  background-color: currentColor;
}

.video-js.skin_spaced .vjs-fade > * {
  visibility: hidden !important;
  opacity: 0 !important;
  transition: visibility 1s, opacity 1s !important;
}

.video-js.skin_spaced .custom-spaced-progress-bar {
  position: absolute;
  width: 100%;
  display: flex;
  height: 0.5em;
  top: -0.5em;
}

.video-js.skin_spaced .vjs-progress-control {
  left: -6px;
  position: relative;
  width: 100%;
  height: 0.5em;
  top: -0.5em;
  transition: height 0.1s, top 0.1s;
}

.video-js.skin_spaced .vjs-current-time {
  display: block;
}

.video-js.skin_spaced.vjs-live .vjs-current-time {
  display: none !important;
}

.video-js.skin_spaced .vjs-current-time {
  display: block;
  position: relative;
  right: 0em;
  bottom: 1.8em;
  font-size: 12px;
  font-weight: 600;
}

.video-js.skin_spaced .vjs-custom-control-spacer {
  display: block;
  flex: 1 1 auto;
}

.video-js.skin_spaced .vjs-progress-control .vjs-progress-holder {
  margin: 0 0 0 20px;
}

.video-js.skin_spaced .vjs-remaining-time.vjs-time-control.vjs-control {
  display: none;
}

.video-js.skin_spaced button.vjs-control.vjs-button.vjs-slowmo-button {
  font-size: 14px;
  font-weight: 500;
  align-self: center;
  height: min-content;
  padding: 5px 2px;
  border-radius: 8px;
}

.video-js.skin_spaced .vjs-progress-control .vjs-progress-holder {
  height: 6px !important;
}

.video-js.skin_spaced .vjs-play-progress:before {
  font-size: 1.5em;
  line-height: unset;
  top: -0.3333333333em;
}

.video-js.skin_spaced .vjs-play-progress .vjs-time-tooltip {
  display: none !important;
}

/* */
.video-js.skin_spaced .vjs-mouse-display {
  font-size: 1.6666666667em;
}

.video-js.skin_spaced .vjs-progress-control:hover .vjs-progress-holder {
  font-size: 1em !important;
}

.video-js.skin_spaced .vjs-button {
  width: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-js.skin_spaced .vjs-fullscreen .icon-minimize,
.icon-maximize {
  display: block;
  height: 32px;
}

.video-js.skin_spaced .vjs-fullscreen .icon-maximize,
.icon-minimize {
  display: none;
  height: 32px;
}

.video-js.skin_spaced button.vjs-play-control.vjs-control.vjs-button {
  outline: none !important;
}

.video-js.skin_spaced button.vjs-fullscreen-control.vjs-control.vjs-button {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
}

.video-js.skin_spaced .vjs-subs-caps-button .vjs-icon-placeholder:before {
  display: none;
}

.video-js.skin_spaced .vjs-volume-panel .vjs-volume-control {
  margin-left: -10px;
}

.video-js.skin_spaced .skipbtn:hover {
  cursor: pointer;
}

.video-js.skin_spaced .rewindbtn:hover {
  cursor: pointer;
}

.video-js.skin_spaced .vjs-live-control {
  position: absolute !important;
  right: 0em !important;
  background-color: none;
  bottom: 1.8em !important;
  font-weight: 700 !important;
  font-size: 11px !important;
}

.video-js.skin_spaced .vjs-seek-to-live-control.vjs-control {
  position: relative;
  top: -0.5em;
}

.video-js.skin_spaced .vjs-seek-to-live-control.vjs-control > span.vjs-icon-placeholder {
  display: none;
}

.video-js.skin_spaced.vjs-paused .vjs-big-play-button {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 6em;
  line-height: 1.3em;
  border: .06666em solid;
  color: inherit;
}

.video-js.skin_spaced .vjs-seek-to-live-control.vjs-control.vjs-at-live-edge {
  font-weight: bold;
}

.video-js.skin_spaced .vjs-menu > ul.vjs-menu-content {
  bottom: 3.5em !important;
  right: -1em;
}

.video-js.skin_spaced .vjs-chromecast-button .vjs-icon-placeholder {
  width: 17px !important;
  height: 17px !important;
}

.video-js.skin_spaced .vjs-subs-caps-button.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button {
  display: none;
}

.video-js.skin_spaced button.vjs-subs-caps-button.vjs-menu-button.vjs-menu-button-popup.vjs-button {
  height: min-content;
  width: min-content;
}

.video-js.skin_spaced .vjs-volume-panel.vjs-volume-panel-vertical {
  width: 6em;
}

.video-js.skin_spaced .content {
  bottom: 3.4rem !important;
  right: -4rem !important;
}

.setting-icon > svg {
  height: 18px !important;
}

.output-overlay {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  border: 0;
  pointer-events: none;
}

iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .tvProviderImage {
    display: none;
  }
  .video-js.skin_spaced .vjs-fullscreen .icon-minimize,
  .icon-maximize {
    height: 30px !important;
  }
  .video-js.skin_spaced .vjs-fullscreen .icon-maximize,
  .icon-minimize {
    height: 30px !important;
  }
  .video-js.skin_spaced button.vjs-fullscreen-control.vjs-control.vjs-button > span.vjs-icon-placeholder::before {
    height: min-content;
  }
  .video-js.skin_spaced .vjs-seek-to-live-control.vjs-control {
    position: relative !important;
    right: 0em !important;
    bottom: 0 !important;
  }
  .video-js.skin_spaced .vjs-live-control {
    right: -1em !important;
    position: relative !important;
    bottom: 0 !important;
    font-size: 12px !important;
  }
  .video-js.skin_spaced button.vjs-slowmo-button {
    display: none;
  }
  .video-js.skin_spaced button.vjs-rewind-button {
    display: none;
  }
  .video-js.skin_spaced button.vjs-rewind-button > svg {
    height: 20px;
  }
  .video-js.skin_spaced .vjs-button {
    width: 4.8em;
  }
  .video-js.skin_spaced .widget-selection {
    display: none;
  }
  .video-js.skin_spaced .container {
    display: none !important;
  }
  .video-js.skin_spaced .vjs-control-bar {
    height: 4em !important;
  }
  .video-js.skin_spaced .vjs-button > .vjs-icon-placeholder:before {
    font-size: 2.5em;
    line-height: 1.5;
  }
  .video-js.skin_spaced .vjs-play-progress:before {
    font-size: 1.2em;
    position: absolute;
    right: -0.5em;
    z-index: 1;
  }
  .video-js.skin_spaced button.vjs-skip-button > svg {
    height: 20px;
  }
  .video-js.skin_spaced button.vjs-big-play-button {
    width: 50px !important;
    height: 50px !important;
    font-size: 2.1rem !important;
  }
  .video-js.skin_spaced .vjs-seek-to-live-control.vjs-control > span.vjs-icon-placeholder {
    display: block;
  }
  .stream-selector-icon > svg {
    width: 24px;
    height: 24px;
  }
  .video-js.skin_spaced.vjs-live .vjs-progress-control .vjs-progress-holder {
    margin: 0 12px 0 21px;
  }
  .video-js.skin_spaced .vjs-seek-to-live-text {
    font-size: 12px;
  }
  .video-js.skin_spaced .vjs-progress-control .vjs-progress-holder {
    margin: 0 0 0 20px;
  }
}
.video-js.skin_spaced.vjs-paused .vjs-big-play-button {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 6em;
  line-height: 1.3em;
}

.video-js.skin_spaced .vjs-volume-panel.vjs-control.vjs-volume-panel-horizontal:hover .vjs-volume-control.vjs-control.vjs-volume-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: width 0.1s;
}

.video-js.skin_spaced .vjs-volume-panel.vjs-control.vjs-volume-panel-horizontal:active .vjs-volume-control.vjs-control.vjs-volume-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: width 0.1s;
}

@media (max-width: 600px) {
  .video-js.skin_spaced button.vjs-big-play-button {
    width: 50px !important;
    height: 50px !important;
    font-size: 2.1rem !important;
  }

}


// SLEEK 

.video-js.skin_sleek.vjs-user-inactive.vjs-playing .sleek-bar {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s;
}
.video-js.skin_sleek .vjs-control-bar{
  visibility: hidden;
  opacity: 0;
  display: none;
}

.video-js.skin_sleek .sleek-bar {
  position: absolute;
  display: flex;
  bottom: 10px;
  width: 95%;
  border-radius: 4px;
  background-color: #2c3e50;
  height: 20px;
  height: 2.4rem;
  left: 50%;
  transform: translateX(-50%);
}

.video-js.skin_sleek .sleek-bar .vjs-play-progress{
  background-color: currentColor;
}
.video-js.skin_sleek .sleek-bar .vjs-volume-level{
  background-color: currentColor;
}

.video-js.skin_sleek .sleek-bar > button.vjs-control.vjs-button.vjs-skip-button {
  display: flex;
  width: 4em;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.video-js.skin_sleek .sleek-bar > .vjs-current-time {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.video-js.skin_sleek:not(.vjs-live) .sleek-bar > .vjs-duration {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.video-js.skin_sleek .sleek-bar .vjs-progress-control .vjs-progress-holder {
  height: 6px;
}

.video-js.skin_sleek .sleek-bar .vjs-progress-control .vjs-progress-holder .vjs-play-progress:before {
  display: none;
}

.video-js.skin_sleek .sleek-bar .vjs-progress-control:hover .vjs-progress-holder > .vjs-play-progress:before {
  display: block;
  font-size: 14px;
  top: 0.5px;
}

.video-js.skin_sleek .sleek-bar .vjs-custom-control-spacer.vjs-spacer {
  display: none;
}

@media (max-width: 600px) {
  .video-js.skin_sleek .sleek-bar .vjs-progress-control {
    position: absolute;
    bottom: 38.5px;
    height: max-content;
    width: 100%;
  }
  .video-js.skin_sleek .sleek-bar .vjs-progress-control .vjs-progress-holder {
    height: 9px;
  }
  .video-js.skin_sleek .sleek-bar .vjs-progress-control .vjs-slider {
    margin: 0;
  }
  .video-js.skin_sleek .sleek-bar .vjs-progress-control:hover .vjs-progress-holder > .vjs-play-progress:before {
    display: none;
  }
  .video-js.skin_sleek .sleek-bar .vjs-custom-control-spacer.vjs-spacer {
    display: block;
    flex: auto;
  }
}


//ZEN 


.video-js.skin_zen.vjs-user-inactive.vjs-playing .zen-bar {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s;
}
.video-js.skin_zen .vjs-control-bar{
  visibility: hidden;
  opacity: 0;
  display: none;
}
.video-js.skin_zen .zen-bar .vjs-play-progress{
  background-color: currentColor;
}

.video-js.skin_zen .zen-bar {
  position: absolute;
  width: 100%;
  display: flex;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(4px);
  height: 50px;
}

.video-js.skin_zen .zen-bar .vjs-skip-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 10em;
}

.video-js.skin_zen .zen-bar .vjs-skip-button:focus {
  filter: drop-shadow(0 0 0.25em #fff);
}

.video-js.skin_zen .zen-bar .vjs-rewind-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 6em;
}

.video-js.skin_zen .zen-bar .vjs-progress-control {
  position: absolute;
  bottom: 50px;
  width: 100%;
  height: max-content;
}

.video-js.skin_zen .zen-bar .vjs-progress-control .vjs-progress-holder.vjs-slider.vjs-slider-horizontal {
  height: 7px;
}

.video-js.skin_zen .zen-bar .vjs-play-control.vjs-control {
  width: 6em;
}

.video-js.skin_zen .zen-bar .vjs-progress-control .vjs-progress-holder .vjs-play-progress:before {
  display: none;
}

.video-js.skin_zen .zen-bar .vjs-progress-control:hover .vjs-progress-holder > .vjs-play-progress:before {
  display: block;
  font-size: 16px;
  top: 0.5px;
}

.video-js.skin_zen .zen-bar .vjs-mute-control.vjs-control {
  display: none;
}

.video-js.skin_zen .zen-bar .vjs-volume-panel {
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-top: 1.5em;
}

.video-js.skin_zen .zen-bar .vjs-volume-panel .vjs-volume-control {
  opacity: 1;
  height: 100%;
  width: 100%;
}

.video-js.skin_zen .zen-bar .vjs-volume-panel .vjs-volume-control:hover {
  opacity: 1;
  height: 100%;
  width: 100%;
}

.video-js.skin_zen .zen-bar .vjs-volume-panel.vjs-volume-panel-horizontal {
  width: 3em !important;
}

.video-js.skin_zen .zen-bar .vjs-volume-panel.vjs-volume-panel-horizontal:active {
  width: 3em !important;
}

.video-js.skin_zen .vjs-volume-bar:before {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(255, 255, 255, 0.2509803922);
  border-style: solid;
  border-width: 0 0 1.75em 3em;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
  z-index: 0;
}

.video-js.skin_zen .vjs-slider-horizontal .vjs-volume-level {
  height: 100%;
  background-color: currentColor;
}

.video-js.skin_zen .zen-bar .vjs-volume-bar {
  background-color: initial;
  margin: 0;
}

.video-js.skin_zen .zen-bar .vjs-volume-level {
  background-color: initial;
  overflow: hidden;
}

.video-js.skin_zen .zen-bar .vjs-volume-bar.vjs-slider-horizontal {
  height: 100%;
  margin-bottom: 0;
  margin-top: 0;
}

.video-js.skin_zen.vjs-user-inactive .vjs-volume-control .vjs-mouse-display {
  opacity: 0;
  transition: visibility 1s, opacity 1s;
  visibility: hidden;
}

.video-js.skin_zen .zen-bar .vjs-volume-level:before {
  color: inherit;
  border-bottom: 1.75em solid;
  border-left: 3em solid rgba(0, 0, 0, 0);
  border-right: 0 solid rgba(0, 0, 0, 0);
  border-top: 0 solid rgba(0, 0, 0, 0);
  content: "";
  height: 0;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 0;
  z-index: 1;
  font-size: 1em;
}

.video-js.skin_zen.vjs-live:not(.vjs-liveui) .zen-bar > button.vjs-seek-to-live-control {
  position: absolute;
  left: 12px;
  background: #fff;
  color: #000;
  margin: auto;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: monospace;
}

.video-js.skin_zen.vjs-live.vjs-liveui .zen-bar > button.vjs-seek-to-live-control {
  display: block;
  position: absolute;
  left: 12px;
  margin: auto;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  background: #fff;
  color: #000;
  font-weight: bold;
}
.video-js.skin_zen .zen-bar .vjs-volume-bar.vjs-slider-horizontal{
  width: 3em !important;
}
.video-js.skin_zen .zen-bar .vjs-volume-control.vjs-control.vjs-volume-horizontal{
  width: 3em !important;
}

@media (max-width: 600px) {
  .video-js.skin_zen .zen-bar {
    justify-content: space-evenly;
  }
  .video-js.skin_zen.vjs-live .zen-bar .vjs-volume-panel {
    display: none;
  }
  .video-js.skin_zen.vjs-live:not(.vjs-liveui) .zen-bar > button.vjs-seek-to-live-control {
    position: relative;
    margin: 10px;
  }
  .video-js.skin_zen.vjs-live.vjs-liveui .zen-bar > button.vjs-seek-to-live-control {
    position: relative;
    margin: 10px;
  }
}